{% extends 'baseA.html.twig' %}

{% block title %}Cgvcgu index{% endblock %}

{% block body %}
   <div class="container mt-5">
    <h1>Liste des articles</h1>
    <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class=" col-12">
    
    <table class="table table-hover">
    <a href="{{ path('cgvcgu_new') }}"><buton class="btn btn-warning">Editer les CGV/CGU</button></a>
             <div class="row-md-1">
                      <a href="{{path('acceuil')}}"><buton class="btn btn-primary ">Retour sur le site</button></a>
                      <a href="{{path('article_index')}}"><buton class="btn btn-primary ">Article</button></a>
                      <a href="{{path('genre_index')}}"><buton class="btn btn-primary ">Genres</button></a>
                      <a href="{{path('categorie_index')}}"><buton class="btn btn-primary ">Categories</button></a>
                      <a href="{{path('images_index')}}"><buton class="btn btn-primary ">Galerie d'images</button></a>
                      <a href="{{path('client_index')}}"><buton class="btn btn-primary ">Comptes clients</button></a>
                      <a href="{{path('logo_index')}}"><buton class="btn btn-primary ">Partenaires</button></a>
                      <a href="{{path('message_index')}}"><buton class="btn btn-primary ">Messages</button></a>
                       <a href="{{path('cgvcgu_index')}}"><buton class="btn btn-primary ">CGV/CGU</button></a>
                        <a href="{{path('entete_index')}}"><buton class="btn btn-primary ">entête</button></a>
                      <a href="{{path('Section_index')}}"><buton class="btn btn-primary ">section 1</button></a>
                      <a href="{{path('section_deux_index')}}"><buton class="btn btn-primary ">section 2</button></a>
                      <a href="{{path('caracteristique_index')}}"><buton class="btn btn-primary ">Caractéristiques</button></a>
            </div>          
        <thead class="thead-dark">
                
                <th scope="col">Condition général de vente et d'utilistation</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cgvcgu in cgvcgus %}
            <tr>
               
                <td>{{ cgvcgu.conditiong|raw }}</td>
                <td>
                    <a href="{{ path('cgvcgu_show', {'id': cgvcgu.id}) }}">show</a>
                    <a href="{{ path('cgvcgu_edit', {'id': cgvcgu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </div>
   </div></div>
{% endblock %}
