{% extends 'baseA.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>Genre</h1>
    <a class="btn btn-warning" href="{{ path('genre_edit', {'id': genre.id}) }}">Modifier</a>
      <div class="row-md-1">
                      <a href="{{path('acceuil')}}"><buton class="btn btn-primary ">Retour sur le site</button></a>
                      <a href="{{path('article_index')}}"><buton class="btn btn-primary ">Article</button></a>
                      <a href="{{path('genre_index')}}"><buton class="btn btn-primary ">Genres</button></a>
                      <a href="{{path('categorie_index')}}"><buton class="btn btn-primary ">Categories</button></a>
                      <a href="{{path('images_index')}}"><buton class="btn btn-primary ">Galerie d'images</button></a>
            </div>          
     
       

    <div class="row shadow p-3 mb-5 bg-white rounded">
  
    <div class=" col-12">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ genre.genre }}</td>
            </tr>
        </tbody>
    </table>

  

  
    {{ include('genre/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
