{% extends 'baseA.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
    <h1>Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Section.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ Section.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ Section.description }}</td>
            </tr>
            <tr>
                <th>SiteInternet</th>
                <td>{{ Section.SiteInternet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Section_index') }}">back to list</a>

    <a href="{{ path('Section_edit', {'id': Section.id}) }}">edit</a>

    {{ include('Section/_delete_form.html.twig') }}
{% endblock %}
