{% extends 'base.html.twig' %}

{% block title %}Hello AidezMoiController!{% endblock %}

{% block body %}


<section class="ampFeatures2 cid-s32acKsUxn" id="ampFeatures2-1o"  style="background:rgb(050 150 255);">
    

    
    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-pb-3 mbr-semibold mbr-white mbr-fonts-style display-1" >Nos atouts</h3>
            
        </div>
        <div class="mbr-row" >
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 md-pb" >
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5" >Définir correctement les prorités</h3>
                        
                        <p class="card-text mbr-fonts-style mbr-white mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec.</p>

                    </div>
                </div>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 md-pb">
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Considérer tous les facteurs</h3>
                        
                        <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec. </p>

                    </div>
                </div>
            </div>
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6">
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-white mbr-semibold mbr-fonts-style display-5">Utiliser les meilleurs outilsq</h3>
                        
                        <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec. </p>

                    </div>
                </div>
            </div>
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 last-child">
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Analyser les concurents</h3>
                        
                        <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec. </p>

                    </div>
                </div>
            </div>
            <div class="mbr-col-md-12 mbr-col-lg-12 mbr-col-sm-12">

                <div class="card-btn mbr-pt-4 mbr-section-btn mbr-pt-2"><a class="btn btn-white-outline display-4" href="#">Lire la suite</a></div>
            </div>
        </div>
    </div>
</section>

<section class="content1 cid-s329LrFpw4" id="content01-1b">

    
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-lg-8 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-black mbr-fonts-style mbr-pb-1 align-center display-5">
                   En savoir plus sur notre marque</h3>
                <p class="mbr-fonts-style mbr-text align-center display-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo suscipit vulputate.
                    Maecenas rutrum mollis arcu, at condimentum lorem <a href="#" class="text-black">@mobirise</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="content3 cid-s0bsiqoLOf" id="content03-3">
    
    
    <div class="container">
        <div class="mbr-row">

            <div class="mbr-col-lg-7 mbr-col-md-12  mbr-m-auto mbr-col-sm-12 md-pb">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/02.jpg')}}" alt="" width="766" height="766" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>
            </div>


            <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12">
                <div class="content">
                    
                    <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-2">Vos lunettes de soleil de tous les jours</h1>
                    <p class="mbr-fonts-style mbr-text align-left mbr-pb-5  display-7">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nunc commodo ligula eget ex accumsan, in ultricies tellus vehicula
                    </p>
                    <div class="mbr-section-btn align-left"><a class="btn btn-md btn-warning-outline display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span>Acheter maintenant</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="clients1 cid-s0bsyNmprb" id="clients01-9">

    
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-black mbr-fonts-style mbr-pb-5 align-left display-5">Vue dans la presse</h3>
                <p class="mbr-fonts-style mbr-text align-left mbr-pb-3 display-5">"Lorem ipsum dolor sit amet consectetur adipiscing
                    commodo suscipit"</p>
            </div>

            <div class="line"></div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/1.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/2.png"')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/3.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/4.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/5.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/1.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/2.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/3.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/4.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{{asset('assets/img/5.png')}}" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>

        </div>
    </div>
</section>


{% endblock %}
