{% extends 'baseA.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
     <div class="container mt-5 xs">
	<h1 class="text-center mb-4">Comptes clients</h1>
    <a class="btn btn-warning" href="{{ path('client_new') }}">Ajouter un compte</a>
    <div class="row shadow p-3 mb-5 bg-white rounded">
     

    <table class="table table-hover">
    <div class="row-md-1">
                      <a href="{{path('acceuil')}}"><buton class="btn btn-primary ">Retour sur le site</button></a>
                      <a href="{{path('article_index')}}"><buton class="btn btn-primary ">Article</button></a>
                      <a href="{{path('genre_index')}}"><buton class="btn btn-primary ">Genres</button></a>
                      <a href="{{path('categorie_index')}}"><buton class="btn btn-primary ">Categories</button></a>
                      <a href="{{path('images_index')}}"><buton class="btn btn-primary ">Galerie d'images</button></a>
                      <a href="{{path('client_index')}}"><buton class="btn btn-primary ">Comptes clients</button></a>
            </div>          

  
        <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Email</th>
               
                <th scope="col">Password</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.email }}</td>
               
                <td><input type="password" value="{{client.password}}"></input></td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </div></div>
{% endblock %}
