{% extends 'baseA.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
<div class="container mt-5 xs">
	<h1 class="text-center mb-4">Messages</h1>
   
    <div class="row shadow p-3 mb-5 bg-white rounded">
     

    
    <div class="row-md-1">
                      <a href="{{path('acceuil')}}"><buton class="btn btn-primary ">Retour sur le site</button></a>
                      <a href="{{path('article_index')}}"><buton class="btn btn-primary ">Article</button></a>
                      <a href="{{path('genre_index')}}"><buton class="btn btn-primary ">Genres</button></a>
                      <a href="{{path('categorie_index')}}"><buton class="btn btn-primary ">Categories</button></a>
                      <a href="{{path('images_index')}}"><buton class="btn btn-primary ">Galerie d'images</button></a>
                      <a href="{{path('client_index')}}"><buton class="btn btn-primary ">Comptes clients</button></a>
                       <a href="{{path('logo_index')}}"><buton class="btn btn-primary ">Partenaires</button></a>
                       <a href="{{path('message_index')}}"><buton class="btn btn-primary ">Messages</button></a>
                          <a href="{{path('cgvcgu_index')}}"><buton class="btn btn-primary ">CGV/CGU</button></a>
                      <a href="{{path('entete_index')}}"><buton class="btn btn-primary ">entête</button></a>
                      <a href="{{path('Section_index')}}"><buton class="btn btn-primary ">section 1</button></a>
                      <a href="{{path('section_deux_index')}}"><buton class="btn btn-primary ">section 2</button></a>
                        <a href="{{path('caracteristique_index')}}"><buton class="btn btn-primary ">Caractéristiques</button></a>
            </div>          
    

    <table class="table table-hover" style="border: 0.5px solid black;">
    
        <thead class="thead-dark">
            <tr>
                <th scope="col"style="border: 0.5px solid black;">Id</th>
                <th scope="col"style="border: 0.5px solid black;">Email</th>
                <th scope="col"style="border: 0.5px solid black;">Sujet</th>
                <th scope="col"style="border: 0.5px solid black;">Commentaire</th>
                 <th scope="col"style="border: 0.5px solid black;">Reponse</th>
              
                <th scope="col"style="border: 0.5px solid black;">Répondre</th>
              

            </tr>
        </thead>
        <tbody>
        {% for message in messages %}




        
           
        <tr>
			
			<td style="border: 0.5px solid black;">{{ message.id }}</td>
			<td style="border: 0.5px solid black;">{{ message.Email }}</td>
			<td style="border: 0.5px solid black;">{{ message.Sujet }}</td>
            <td style="border: 0.5px solid black;word-break:break-all;">{{ message.Commentaire|raw }}</td>
             <td style="border: 0.5px solid black;word-break:break-all;">{{ message.reponse }}</td>

			
				
            
            <td style="border: 0.5px solid black;">
				<a class"btn btn-success" href="{{ path('message_edit', {'id': message.id}) }}"><button class="btn btn-success" href="{{ path('message_edit', {'id': message.id}) }}" type="submit"><i class="fa fa-spinner" aria-hidden="true"></i>Répondre</button></a>
               
            </td>
            
		</tr>
    
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            
        {% endfor %}
        


    </tbody>
	</table>
</div>
</div>
</div>
{% endblock %}
