<!DOCTYPE html>
<html amp >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{asset('assets/images/logo1.png')}}" type="image/x-icon">
  <meta name="description" content="">
  <meta name="amp-script-src" content="">
  
  <title>Home</title>
  
<link rel="canonical" href="./">
 <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<link href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="{{asset('assets/css/main.css')}}" rel="stylesheet">
 
 
 
  <script async  src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>

  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  
  
  <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
  </head>
<body><amp-sidebar id="sidebar" class="cid-s0bsbJEbVa" layout="nodisplay" side="right">
        <div class="builder-sidebar" id="builder-sidebar">
            <button on="tap:sidebar.close" class="close-sidebar">
                <span></span>
                <span></span>
            </button>
        
                
                <!-- NAVBAR ITEMS -->
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
               
                   {% for genre in genres %}
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="{{ path('article_show', {'id': genre.id}) }}">{{ genre.genre }}</a>
                    </li>
                    {% endfor %}  
                        <a class="nav-link link  dropdown-toggle text-black display-4" data-toggle="dropdown-submenu" aria-expanded="false">Explorer</a>
                        <div class="dropdown-menu">
                          {% for categorie in categories %}
                            <a class="dropdown-item text-black display-4" href="{{ path('article_show2', {'id': categorie.id}) }}"=>{{ categorie.categorie }}</a>

                         {% endfor %}
                        </div>
                    </li>
               
                    <li class="nav-item"><a class="nav-link link  text-black display-4" href="{{asset('message_new')}}" aria-expanded="false">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4" href="{{asset('aide')}}" aria-expanded="false">Aidez-moi</a></li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4"  href="{{ path('client_show', {'id': app.user.id}) }}" aria-expanded="false">Votre compte</a> </li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4"  href="{{ path('panier_index')}}" aria-expanded="false">Panier</a> </li>
                    {% for cgvcgu in cgvcgus %}
                      <li class="nav-item"><a href="{{ path('cgvcgu_show', {'id': cgvcgu.id}) }}">CGV/CGU</a> </li>
                      {% endfor %}
                   
              
                <!-- NAVBAR ITEMS END -->
                <!-- SOCIAL ICON -->
                <div class="menu-social-list">
              
                    





                    <a href="#" target="_blank">
                        <span class="amp-iconfont animation-normal fa-twitter-square fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1408 610q-56 25-121 34 68-40 93-117-65 38-134 51-61-66-153-66-87 0-148.5 61.5t-61.5 148.5q0 29 5 48-129-7-242-65t-192-155q-29 50-29 106 0 114 91 175-47-1-100-26v2q0 75 50 133.5t123 72.5q-29 8-51 8-13 0-39-4 21 63 74.5 104t121.5 42q-116 90-261 90-26 0-50-3 148 94 322 94 112 0 210-35.5t168-95 120.5-137 75-162 24.5-168.5q0-18-1-27 63-45 105-109zm256-194v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z"></path></svg></span>
                    </a><a href="#" target="_blank">
                        <span class="amp-iconfont animation-normal fa-instagram fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1152 896q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm138 0q0 164-115 279t-279 115-279-115-115-279 115-279 279-115 279 115 115 279zm108-410q0 38-27 65t-65 27-65-27-27-65 27-65 65-27 65 27 27 65zm-502-220q-7 0-76.5-.5t-105.5 0-96.5 3-103 10-71.5 18.5q-50 20-88 58t-58 88q-11 29-18.5 71.5t-10 103-3 96.5 0 105.5.5 76.5-.5 76.5 0 105.5 3 96.5 10 103 18.5 71.5q20 50 58 88t88 58q29 11 71.5 18.5t103 10 96.5 3 105.5 0 76.5-.5 76.5.5 105.5 0 96.5-3 103-10 71.5-18.5q50-20 88-58t58-88q11-29 18.5-71.5t10-103 3-96.5 0-105.5-.5-76.5.5-76.5 0-105.5-3-96.5-10-103-18.5-71.5q-20-50-58-88t-88-58q-29-11-71.5-18.5t-103-10-96.5-3-105.5 0-76.5.5zm768 630q0 229-5 317-10 208-124 322t-322 124q-88 5-317 5t-317-5q-208-10-322-124t-124-322q-5-88-5-317t5-317q10-208 124-322t322-124q88-5 317-5t317 5q208 10 322 124t124 322q5 88 5 317z"></path></svg></span>
                    </a><a href="https://www.facebook.com/Biscuit-1133570213362420/" target="_blank">
                        <span class="amp-iconfont animation-normal fa-facebook-square fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1376 128q119 0 203.5 84.5t84.5 203.5v960q0 119-84.5 203.5t-203.5 84.5h-188v-595h199l30-232h-229v-148q0-56 23.5-84t91.5-28l122-1v-207q-63-9-178-9-136 0-217.5 80t-81.5 226v171h-200v232h200v595h-532q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960z"></path></svg></span>
                    </a></div>
                <!-- SOCIAL ICON END -->
                <!-- SHOW BUTTON -->
                
                <!-- SHOW BUTTON END -->
            </div>
    </amp-sidebar>
  <section class="menu1 menu horizontal-menu cid-s0bsbJEbVa" id="menu1-0">
    
    <!-- <div class="menu-wrapper"> -->
    <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
        <div class="menu-container container-fluid mbr-px-2">
            <!-- SHOW LOGO -->
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption  text-black display-6 display-5" href="{{path('acceuil')}}">Acceuil</a></span>
               
            </div>
            <!-- SHOW LOGO END -->
            <!-- COLLAPSED MENU -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <!-- NAVBAR ITEMS -->
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
              
                {% for genre in genres %}
        
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="{{ path('article_show', {'id': genre.id}) }}">{{ genre.genre }}</a>
                    </li>
                    
                {% endfor %}   
            

               
                    <li class="nav-item dropdown">
                        <a class="nav-link link  dropdown-toggle text-black display-4" data-toggle="dropdown-submenu" aria-expanded="false">Explorer</a>
                        <div class="dropdown-menu">
                          {% for categorie in categories %}
                            <a class="dropdown-item text-black display-4" href="{{ path('article_show2', {'id': categorie.id}) }}" >{{ categorie.categorie }}</a>
                          {% endfor %}   
                           
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4" href="{{path('message_new',)}}" aria-expanded="false">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4" href="{{asset('aide')}}" aria-expanded="false">Aidez-moi</a></li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4"  href="{{ path('client_show', {'id': app.user.id}) }}" aria-expanded="false">Votre compte</a> </li>
                    <li class="nav-item"><a class="nav-link link  text-black display-4"  href="{{ path('panier_index') }}" aria-expanded="false">Panier</a> </li>
                     {% for cgvcgu in cgvcgus %}
                      <li class="nav-item"><a class="nav-link link  text-black display-4"  href="{{ path('cgvcgu_show', {'id': cgvcgu.id}) }}"aria-expanded="false">CGV/CGU</a> </li>
                      {% endfor %}
                     
                <!-- NAVBAR ITEMS END -->
                <!-- SOCIAL ICON -->
                <div class="menu-social-list">
                    





                    <a href="#" target="_blank">
                        <span class="amp-iconfont animation-normal fa-twitter-square fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1408 610q-56 25-121 34 68-40 93-117-65 38-134 51-61-66-153-66-87 0-148.5 61.5t-61.5 148.5q0 29 5 48-129-7-242-65t-192-155q-29 50-29 106 0 114 91 175-47-1-100-26v2q0 75 50 133.5t123 72.5q-29 8-51 8-13 0-39-4 21 63 74.5 104t121.5 42q-116 90-261 90-26 0-50-3 148 94 322 94 112 0 210-35.5t168-95 120.5-137 75-162 24.5-168.5q0-18-1-27 63-45 105-109zm256-194v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z"></path></svg></span>
                    </a><a href="#" target="_blank">
                        <span class="amp-iconfont animation-normal fa-instagram fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1152 896q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm138 0q0 164-115 279t-279 115-279-115-115-279 115-279 279-115 279 115 115 279zm108-410q0 38-27 65t-65 27-65-27-27-65 27-65 65-27 65 27 27 65zm-502-220q-7 0-76.5-.5t-105.5 0-96.5 3-103 10-71.5 18.5q-50 20-88 58t-58 88q-11 29-18.5 71.5t-10 103-3 96.5 0 105.5.5 76.5-.5 76.5 0 105.5 3 96.5 10 103 18.5 71.5q20 50 58 88t88 58q29 11 71.5 18.5t103 10 96.5 3 105.5 0 76.5-.5 76.5.5 105.5 0 96.5-3 103-10 71.5-18.5q50-20 88-58t58-88q11-29 18.5-71.5t10-103 3-96.5 0-105.5-.5-76.5.5-76.5 0-105.5-3-96.5-10-103-18.5-71.5q-20-50-58-88t-88-58q-29-11-71.5-18.5t-103-10-96.5-3-105.5 0-76.5.5zm768 630q0 229-5 317-10 208-124 322t-322 124q-88 5-317 5t-317-5q-208-10-322-124t-124-322q-5-88-5-317t5-317q10-208 124-322t322-124q88-5 317-5t317 5q208 10 322 124t124 322q5 88 5 317z"></path></svg></span>
                    </a><a href="https://www.facebook.com/Biscuit-1133570213362420/" target="_blank">
                        <span class="amp-iconfont animation-normal fa-facebook-square fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1376 128q119 0 203.5 84.5t84.5 203.5v960q0 119-84.5 203.5t-203.5 84.5h-188v-595h199l30-232h-229v-148q0-56 23.5-84t91.5-28l122-1v-207q-63-9-178-9-136 0-217.5 80t-81.5 226v171h-200v232h200v595h-532q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960z"></path></svg></span>
                    </a></div>
                <!-- SOCIAL ICON END -->
                <!-- SHOW BUTTON -->
                
                <!-- SHOW BUTTON END -->
            </div>
            <!-- COLLAPSED MENU END -->
            
            <button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <!-- AMP plug -->
    
    <!-- </div> -->
</section>
 {% for entete in entetes %}
<section class="header1 cid-s0bsc2KgEB" id="header01-1">
    
    
    <div class="container-fluid mbr-white">
        <div class="mbr-row">
            <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12 md-pb">
                <div class="content">
                    
                    <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1">{{entete.Titre}} </h1>
                    <p class="mbr-fonts-style mbr-text align-left mbr-pb-5  display-7">{{ entete.description }}</p>
                  
                </div>
            </div>
            <div class="mbr-col-lg-7 mbr-col-md-12 img-col mbr-m-auto mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img  src="{{ vich_uploader_asset(entete.image, 'imageFile') }}" alt="" width="1500.8670212765958" height="919" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>
            </div>
        </div>
    </div>
</section>
  {% endfor %} 
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    <section class="form footer2 cid-s329LP89oP" id="footer02-1n">
      <span class="navbar-caption-wrap"><a class="btn btn-success" href="{{path('article_index')}}">Administration</a></span>
    
    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>Magasin</strong></h3>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Nouvelles arrivées</p>
                </div>
                 {% for cgvcgu in cgvcgus %}
                 <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4"><a href="{{ path('cgvcgu_show', {'id': cgvcgu.id}) }}">Conditions générales de vente et d'utilisation</a></p>
                </div>
                    {% endfor %}
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Meilleur vendeur</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Gift Guide</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Ventes</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Rebdez nous visites</p>
                </div>
            </div>
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>Explorer</strong></h3>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">A propos de nous</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Collaborations</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Entretien du produit</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Histoires</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Lookbooks</p>
                </div>
            </div>
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>Plus</strong></h3>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Mon compte</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Personnalisées</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Guide des tailles</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Carrières</p>
                </div>

                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Contact</p>
                </div>
            </div>
            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12">
            </div>
            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12 mbr-form" data-form-type="formoid">
                <div class="wrapper" data-form-type="formoid">
                    <h3 class="mbr-section-title mbr-black mbr-fonts-style mbr-pb-2 align-left display-4">Avantages exclusifs
                    </h3>
                    <!--Formbuilder Form-->
                    <form method="POST" class="mbr-form" action-xhr="https://formoid.net/api/amp-form/push" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="zYkld0ArbIUurId7usRPKVgeaOnJ+Xr8Hbupb38PXb9qC5NpBCM/ahvd0Ye9Jc4YvqG8p/CfBLJ2ooGXFIO+6KkZmf4oTAmFpGUPLnVfrddX0dYJhszd6KibIc1L6QFR.R7dFKHzrxXpLc0JeCwt3t4yf8L+rtVhQLGxOvkBDAk0DTU1w/jWXIJyAumGLgHWRGgpel7N8yFymgVUFX71Mv1o97vgr+l0nEe1HgoQx1KZPrvuTIxOZR0l+6upeYmP9">
                        <div class="mbr-row">
                            <div submit-success="" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                                <template data-form-alert="" type="amp-mustache">Thanks for filling out the
                                    form!</template>
                            </div>
                            <div submit-error="" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                                <template data-form-alert="" type="amp-mustache">Failed! </template>
                            </div>
                        </div>
                        <div class="dragArea mbr-row">
                            <div class="mbr-col field" data-for="form[data][0][1]" style="">
                                <input type="hidden" name="form[data][0][0]" value="email" id="form[data][0][0]-footer02-1n" data-form-field="">
                                <input type="email" name="form[data][0][1]" placeholder="Entrer votre mail" data-form-field="email" class="field-input display-7" value="" id="form[data][0][1]-footer02-1n">
                            </div>
                            <div class="mbr-col-auto" style=""><button type="submit" class="btn btn-black display-7"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span></button>
                            </div>
                        </div>
                    <span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-footer02-1n" required="">En continuant <a style="color: #767676; text-decoration: none;" href="terms.html">vous acceptez nos conditions d'utililasion</a> et <a style="color: #767676; text-decoration: none;" href="policy.html">notre politique de confidentialité</a>.</span>
</label>
</span></form>
                    <!--Formbuilder Form-->
                    <p class="mbr-fonts-style mbr-form-text mbr-pt-3 align-left display-4">Apply for our free membership to receive
                        exclusive deals, news, and events.</p>
                </div>
            </div>
        </div>
    </div>
</section>


  
  
<amp-user-notification class="display-7" id="amp-cookies-notification" style="color:#424a4d; background:rgba(234, 239, 241, 0.99); padding: 10px 5%; display:inline-block; font-size:inherit; text-align: center;" layout="nodisplay">Nous utilisons des cookies pour vous offrir la meilleure expérience. Lisez notre  <a style="color: #424a4d; text-decoration: underline;" href="privacy.html">politique de cookies</a>.<button class="btn btn-sm btn-primary display-7" on="tap:amp-cookies-notification.dismiss,amp-cookies-notification.hide" style="display: inline-block; cursor: pointer; margin-left: 10px; font-size:inherit;">Accepter</button></amp-user-notification>
 </body>
</html>


