{% extends 'baseA.html.twig' %}

{% block title %}Logo index{% endblock %}

{% block body %}
   <div class="container mt-5 xs">
	<h1 class="text-center mb-4">Vos partenaires</h1>
    <a class="btn btn-warning" href="{{ path('logo_new') }}">Ajouter un partenaire</a>
    <div class="row shadow p-3 mb-5 bg-white rounded">
      <div class="col-md-12">

    <table class="table table-hover">
    <div class="row-md-1">
                      <a href="{{path('acceuil')}}"><buton class="btn btn-primary ">Retour sur le site</button></a>
                      <a href="{{path('article_index')}}"><buton class="btn btn-primary ">Article</button></a>
                      <a href="{{path('genre_index')}}"><buton class="btn btn-primary ">Genres</button></a>
                      <a href="{{path('categorie_index')}}"><buton class="btn btn-primary ">Categories</button></a>
                      <a href="{{path('images_index')}}"><buton class="btn btn-primary ">Galerie d'images</button></a>
                      <a href="{{path('logo_index')}}"><buton class="btn btn-primary ">Partenaires</button></a>
                       <a href="{{path('client_index')}}"><buton class="btn btn-primary ">Comptes clients</button></a>
                       <a href="{{path('message_index')}}"><buton class="btn btn-primary ">Messages</button></a>
                        <a href="{{path('cgvcgu_index')}}"><buton class="btn btn-primary ">CGV/CGU</button></a>
                      <a href="{{path('entete_index')}}"><buton class="btn btn-primary ">entête</button></a>
                      <a href="{{path('Section_index')}}"><buton class="btn btn-primary ">section 1</button></a>
                      <a href="{{path('section_deux_index')}}"><buton class="btn btn-primary ">section 2</button></a>
            </div>         
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Image</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logo in logos %}
            <tr>
              
                <th>{{ logo.id }}</td>
                <th><img style="width:200px;height:200px; "src="{{ vich_uploader_asset(logo, 'imageFile') }}" alt=""></th>

                <td>
               
                <td>
                    <a class="btn btn-primary" href="{{ path('logo_show', {'id': logo.id}) }}">Regarder</a>
                    <a class="btn btn-warning" href="{{ path('logo_edit', {'id': logo.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
   
{% endblock %}
