{% extends 'baseA.html.twig' %}

{% block title %}Listes des articles{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Liste des articles</h1>
    <div class="row shadow p-3 mb-5 bg-white rounded lg-5 md-12 sm-12 " >
    <div class=" col-12">
    
    <table class="table table-hover">
    <a href="{{ path('article_new') }}"><buton class="btn btn-warning">Ajouter un article</button></a>
             <div class="row-md-1">
                      <a href="{{path('acceuil')}}"><buton class="btn btn-primary ">Retour sur le site</button></a>
                      <a href="{{path('article_index')}}"><buton class="btn btn-primary ">Article</button></a>
                      <a href="{{path('genre_index')}}"><buton class="btn btn-primary ">Genres</button></a>
                      <a href="{{path('categorie_index')}}"><buton class="btn btn-primary ">Categories</button></a>
                      <a href="{{path('images_index')}}"><buton class="btn btn-primary ">Galerie d'images</button></a>
                      <a href="{{path('client_index')}}"><buton class="btn btn-primary ">Comptes clients</button></a>
                      <a href="{{path('logo_index')}}"><buton class="btn btn-primary ">Partenaires</button></a>
                      <a href="{{path('message_index')}}"><buton class="btn btn-primary ">Messages</button></a>
                       <a href="{{path('cgvcgu_index')}}"><buton class="btn btn-primary ">CGV/CGU</button></a>
                        <a href="{{path('entete_index')}}"><buton class="btn btn-primary ">entête</button></a>
                       <a href="{{path('Section_index')}}"><buton class="btn btn-primary ">section 1</button></a>
                      <a href="{{path('section_deux_index')}}"><buton class="btn btn-primary ">section 2</button></a>
            </div>          
        <thead class="thead-dark">
            <tr>
                 <th  scope="col">Image</th>
                 <th  scope="col">Titre</th>
                 <th scope="col">Description</th>
                 <th scope="col">Categorie</th>
                 <th scope="col">Genre</th>
                 <th scope="col">prix</th>
             
                <th scope="col">Modifier</th>

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
          <tr>
              <th scope="row"> <img style="height:100px;width:100px;" src="{{ vich_uploader_asset(article.image, 'imageFile') }}" alt=""></th>
                <th scope="row">{{ article.Titre }}</th>
                <th scope="row">{{ article.description }}</th>
                <th scope="row">{{ article.categorie.id }}</th>
                <th scope="row">{{ article.genre.id}}</th>
                <th scope="row">{{ article.prix }}€</th>
             
                <th scope="row"> <a class="btn btn-primary" href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a></th>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    
   
{% endblock %}
