{% extends 'baseA.html.twig' %}

{% block title %}Images index{% endblock %}

{% block body %}
  <div class="container mt-5 xs">
	<h1 class="text-center mb-4">Votre galerie d'images</h1>
    <div class="row shadow p-3 mb-5 bg-white rounded">
      <div class="col-md-12">

    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            
                <th scope="col">Id</th>
                 <th scope="col">Images</th>
                <th scope="col">Action</th>
            
                
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <th><img style="width:200px;height:200px; "src="{{ vich_uploader_asset(image, 'imageFile') }}" alt=""></th>

                <td>
                    <a href="{{ path('images_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('images_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
            </tbody>
    </table>
    </div>
    </div>
    </div>

   

    <a href="{{ path('images_new') }}">Create new</a>
{% endblock %}
